// Like this @include fontawesome("\f0ad");
@mixin fontawesome($arguement...) {
    content: $arguement;
    font-family: FontAwesome;
}

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

@mixin text-shadow($x: 2px, $y: 2px, $blur: 2px, $color: rgba(0,0,0,.8)) {
    text-shadow: $x $y $blur $color;
}